#cy {
  width:100%;
  height:100%;
  position:absolute;
}

.hide {
  display:none;
}

.module {
  background-color: #fafafa;
  box-shadow: 0px 0px 2px #bbb;
  border-radius: 3px;
  max-width:340px;
}

.module_head {
  text-align: center;
  width:100%;
  padding:10px 40px 10px 10px;
  box-sizing: border-box;
  float:left;
}

#explorer {
  position:absolute;
  left:310px;
  top:10px;
  width:320px;
}

#search {
  width:100%;
  font-size:inherit;
  box-sizing: border-box;
  background-color: #fafafa;
  padding:0 10px;
  border:none;
}

#predicates_list {
  width: 100%;
  margin-top:40px;
  overflow:auto;
  background-color:#fafafa;
  border:solid 1px #eee;
  border-top:0;
  max-height: 450px;
}

.row{
  line-height: 0;
  display: flex;
  align-items: center;
  padding:2px 0;
  cursor:default;
  font-size:14px;
}

.row:hover{
  background-color: rgb(81,149,199);
  color:white;
}

.info {
  padding-left:5px;
  cursor:pointer;
}

.sub_row_wrapper {
  display:none;
  margin-bottom:5px;
}

.sub_row{
  font-size:12px;
  padding:2px 0 2px 20px;
  cursor:pointer;
}

.sub_row:hover {
  background-color: rgb(81,149,199);
  color:white;
}

.module_button {
  position:absolute;
  right:0;
  height:24px;
  width:24px;
  padding:8px;
  cursor:pointer;
}

#diagram_name {
  position: absolute;
  left:10px;
  top:10px;
  width:280px;
}

#diagram_list {
  max-height: 450px;
  margin-top:40px;
  overflow: auto;
}

.diagram_item {
  cursor:pointer;
  padding:5px;
  background-color: #fafafa;
}

.diagram_item:hover{
  color:white;
  background-color:rgb(81,149,199);
}


#tools {
  position:absolute;
  bottom:10px;
  right:10px;
}

.zoom_button{
  padding:0 8px;
  font-size:28px;
  cursor:pointer;
  color:#666;
  text-align: center;
  border-radius:2px;
  background-color: #fafafa;
}

.zoom_button:hover{
  color:rgb(81,149,199);
}


.tooltip .tooltiptext {
  visibility: hidden;
  width:120px;
  background-color: rgb(81,149,199);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  margin-bottom:-20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 100%;

  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1.5s;
  cursor:pointer;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(81,149,199);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext:hover {
  text-decoration: underline;
}

.draggable {
  cursor:grab;
}

#details {
  position:absolute;
  right:10px;
  top:10px;
  width:430px;
}

#details_body {
  font-size:14px;
  margin-top:40px;
  background:#fafafa;
  max-height: 450px;
  overflow: auto;
}

.details_table {
  border:0;
  margin:0;
  padding:2px;
  border-spacing: 0;
}
.details_table th{
  background-color:rgb(81,149,199);
  color:white;
  text-align: left;
}

.details_table th, td {
  padding:5px;
}

.descr {
  padding:10px;
}

.checkmark {
  color:rgb(81,149,199);
  font-size:20px;
  margin:10px;
  position:relative;
  top:2px;
}