.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons:hover {
  color:rgb(81,149,199);
  cursor:pointer;
}

.no_highlight:hover {
  color:inherit;
}

#cy {
  width:100%;
  height:100%;
  position:absolute;
}

.hide {
  opacity: 0;
  z-index:-1;
}

.module, .bottom_window{
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  transition: opacity 0.2s;
}

.module:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.module_head {
  width:100%;
  padding:6px 40px 6px 6px;
  box-sizing: border-box;
  float:left;
  font-weight:bold;
  cursor:grab;
}

.module_body {
  width: 100%;
  margin-top:29px;
  max-height: 450px;
}

#explorer {
  position:absolute;
  left:50%;
  top:10px;
  width:320px;
  transform: translate(-50%, 0);
}

#search {
  width:100%;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: bold;
  padding:0 10px;
  border:none;
}

#predicates_list {
  overflow:auto;
}

.row{
  line-height: 0;
  display: flex;
  align-items: center;
  padding:2px 0;
  cursor:default;
  font-size:14px;
}

.row:hover{
  background-color: rgb(81,149,199);
  color:white;
}

.info {
  padding-left:5px;
  cursor:pointer;
  width:100%;
}

.sub_row_wrapper {
  display:none;
  margin-bottom:5px;
}

.sub_row {
  font-size:12px;
  padding:2px 0 2px 20px;
  cursor:pointer;
}

.sub_row:hover {
  background-color: rgb(81,149,199);
  color:white;
}

.module_button {
  position:absolute;
  right:0;
  height:24px;
  width:24px;
  padding:2px;
}

#diagram_name {
  position: absolute;
  left:10px;
  top:10px;
  max-width:250px;
}

#diagram_list {
  width:0;
}

.diagram_item {
  cursor:pointer;
  padding:5px 10px;

}

.diagram_item:hover{
  color:white;
  background-color:rgb(81,149,199);
}


#zoom_tools {
  position:absolute;
  bottom:55px;
  right:10px;
}

#zoom_tools hr {
  margin: 0 auto;
  background: #ddd;
  height: 1px;
  width: 70%;
  position: relative;
  top: 3px;
  border: 0;
}

.zoom_button:hover{
  color:rgb(81,149,199);
}


.tooltip .tooltiptext {
  visibility: hidden;
  width:120px;
  background-color: rgb(81,149,199);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  margin-bottom:-20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 100%;

  opacity: 0;
  transition: opacity 0.5s;
  cursor:pointer;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(81,149,199);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext:hover {
  text-decoration: underline;
}


#details {
  position:absolute;
  right:10px;
  top:10px;
  width:400px;
}

#details_body {
  overflow: auto;
  max-height:450px;
}

.details_table {
  border:0;
  margin:0;
  padding:2px;
  border-spacing: 0;
  border-radius:10px;
}
.details_table th {
  color:rgb(81,149,199);
  border-right: solid 2px #ddd;
  font-size:110%;
  text-align:left;
}

.details_table th, td {
  padding:5px 8px;
  white-space: nowrap;
}

.table_header {
  text-align: center;
  margin: 10px 2px 0 2px;
  padding: 10px 5px;
  font-size:110%;
  border-bottom: solid 2px #ddd;
  color: rgb(81,149,199);
}

.descr {
  padding:10px;
}

.checkmark {
  color:rgb(81,149,199);
  font-size:20px;
  margin:10px;
  position:relative;
  top:2px;
}

#filters {
  position:absolute;
  bottom:10px;
  left:10px;
}

.bottom_button {
  padding:4px;
  line-height: 0;
  text-align:center;
}

.bottom_button i{
  opacity:0.8;
}

.bottom_button:hover i {
  opacity:1;
}

.filtr_text{
  margin-left:10px;
}

.filtr_option {
  padding:6px;
  white-space: pre;
}

.check_slider_wrap {
  width:30px;
  height:17px;
  display: inline-block;
  position:relative;
}

.check_slider_wrap input {
  display:none
}

.check_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: 0.2s;
  border-radius:17px;
}

.check_slider::before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
  border-radius:18px;
}

.check_slider_wrap input:checked + .check_slider {
  background-color: rgb(81,149,199);
}

.check_slider_wrap input:disabled + .check_slider {
  opacity:0.25;
}

.check_slider_wrap input:checked + .check_slider::before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

#center_button {
  position: absolute;
  bottom:10px;
  right:10px;
}

#owl_translator {
  position:absolute;
  bottom:10px;
  left:50%;
  transform: translate(-50%,0);
  max-width:90%;
}

#owl_translator .module_head {
  text-align:center;
}
#translator_body {
  margin-top: 0;
  max-height: 250px;
}

#owl_axiomes {
  padding:15px 10px;
  font-family: "Lucida Console", Monaco, monospace;
  overflow: auto;
  white-space: nowrap;
  line-height:1.5;
}

/*
  $base03:    #002b36;
  $base02:    #073642;
  $base01:    #586e75;
  $base00:    #657b83;
  $base0:     #839496;
  $base1:     #93a1a1;
  $base2:     #eee8d5;
  $base3:     #fdf6e3;
  --------
  $yellow:    #b58900;
  $orange:    #cb4b16;
  $red:       #dc322f;
  $magenta:   #d33682;
  $violet:    #6c71c4;
  $blue:      #268bd2;
  $cyan:      #2aa198;
  $green:     #859900;
*/

.owl_concept{
  color:#859900;
}

.owl_role{
  color:#268bd2;
}

.owl_attribute{
  color:#b58900;
}

.owl_value-domain{
  color: #2aa198;
}

.owl_individual{
  color: #6c71c4;
}

.owl_value {
  color: #d33682;
}

.axiom_predicate_prefix{
  color:#cb4b16;
}

.owl_error {
  color:rgb(255, 85, 85);
}

.axiom_predefinite_obj {
  color: #00c0a0;
}

.collapsible {
  max-height:0;
  overflow:auto;
  transition:max-height 200ms ease;
}

#slider_body {
  text-align: center;
  width:0;
}

.bottom_window {
  padding:5px;
  position:absolute;
  bottom:40px;
}

.bottom_window::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent;
}

#onto_info {
  position: absolute;
  bottom:10px;
  left:52px;
}

.project_iri::before {
  content: "Project IRI";
  background-color: rgb(81,149,199);
  border-radius: 10px;
  color:white;
  font-size:12px;
  padding: 1px 4px;
  margin-right:10px;
}

#prefix_dict_table th {
  text-align: left;
}
