#cy {
  width:100%;
  height:100%;
  position:absolute;
}

.hide {
  display:none;
}

.module {
  background-color: #fafafa;
  box-shadow: 0px 1px 3px #bbb;
  border-radius:3px;
}

.top_module {
  width: 340px;
  height:40px;
}

.module_head {
  text-align: center;
  width:300px;
  height: 24px;
  padding:8px 0;
  float:left;
}

#explorer {
  position:absolute;
  left:370px;
  top:15px;
}

#search {
  width:100%;
  background-color:#fafafa;
  font-size:inherit;
  box-sizing: border-box;
  padding:0 10px;
  border:none;
}

#predicates_list {
  margin-top:40px;
  overflow:auto;
  background-color:#fafafa;
  box-shadow: 0px 1px 3px #bbb;
  max-height: 500px;
}

.row{
  display: flex;
  align-items: center;
  padding:2px 0;
  cursor:default;
  font-size:14px;
}

.row:hover{
  background-color: rgb(81,149,199);
  color:white;
}

.info {
  padding-left:5px;
  cursor:pointer;
}

.sub_row_wrapper {
  display:none;
  margin-bottom:5px;
}

.sub_row{
  font-size:12px;
  padding:2px 0 2px 20px;
  cursor:pointer;
}

.sub_row:hover {
  background-color: rgb(81,149,199);
  color:white;
}

.module_button {
  height:24px;
  width:24px;
  float: left;
  padding:8px;
  cursor:pointer;
}

#diagram_name {
  position: absolute;
  top:15px;
  left:15px;
}

.diagram_item {
  text-align: center;
  width:340px;
  cursor:pointer;
  background-color: #fafafa;
  float:left;
  padding:6px 0;
  box-shadow: 0px 1px 3px #bbb;
}

.diagram_item:hover{
  color:white;
  background-color:rgb(81,149,199);
}


#tools {
  position:absolute;
  bottom:15px;
  right:15px;
}

.zoom_button{
  padding:0 8px;
  font-size:28px;
  cursor:pointer;
  color:#666;
  text-align: center;
  border-radius:2px;
  background-color: #fafafa;
}

.zoom_button:hover{
  color:rgb(81,149,199);
}


.tooltip .tooltiptext {
  visibility: hidden;
  width:120px;
  background-color: rgb(81,149,199);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  margin-bottom:-20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 100%;

  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1.5s;
  cursor:pointer;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(81,149,199);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover .tooltiptext:hover {
  text-decoration: underline;
}

.draggable{
  cursor:grab;
}
