#grapholscape_container {
  height: 100%;
  position: relative;
  display: none;
}

body, html {
  font-family : sans-serif;
  color: #3f3f3f;
  height: 100%;
  margin: 0;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: all 0.2s;
  height: 100%;
}

#gscape-logo {
  text-align: center;
  height: 30%;
  min-height: 200px;
}

#gscape-logo > img {
  height: 100%;
}

#home h2 {
  font-size: 24px !important;
  margin-bottom: 30px;
}

#gscape-panel-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  justify-content: center;
  padding: 0 50px;
}

.gscape-panel {
  text-align:center;
  width: 100%;
  padding: 20px;
}

.gscape-panel li {
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  border: solid 2px #eee;
  margin: 5px 0;
  border-radius: 10px;
}

#gscape-panel-wrapper > hr {
  border: solid 2px #eee;
  margin: 0;
  height: initial;
}

#left-panel li:hover, #dropbox:hover, #url-graphol-form > input:hover {
  background-color: #f0f0f0;
}

#dropbox {
  border: dashed 2px #ddd;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#dropbox p{
  color: #888;
}
#add-button {
  border-radius: 100%;
  color: #fff;
  padding: 10px;
  background-image: #36D1DC;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to top, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, #5B86E5 0%, #36D1DC 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24pt;
  transition: all 0.2s;
  box-sizing: content-box;
}

#add-button:hover {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


#url-graphol-form, #url-graphol-form > #url-input {
  text-align: center;
}

#url-graphol-form > #url-input {
  width:50%;
}

#url-graphol-form > input {
  border: solid 2px #eee;
  border-radius: 10px;
  font-size: 110%;
  padding:10px;
}

#url-graphol-form > #submit-input {
  cursor: pointer;
}