/* 
--- For custom themes

#grapholscape_container{
  --theme-gscape-primary: #333;
  --theme-gscape-on-primary: #fff;
  --theme-gscape-primary-dark: #1a1a1a;
  --theme-gscape-on-primary-dark: #fff;

  --theme-gscape-secondary: #99ddff;
  --theme-gscape-on-secondary: #333;
  --theme-gscape-secondary-dark: #0099e6;
  --theme-gscape-on-secondary-dark: #fff;

  --theme-gscape-shadows: rgba(255, 255, 255, 0.5);
  --theme-gscape-error: #cc3b3b;
  --theme-gscape-on_error: #fff;

  --theme-gscape-background: #fff;
  --theme-gscape-edges: #000;
  --theme-gscape-node-bg: #fcfcfc;
  --theme-gscape-node-bg-contrast: #000;
  --theme-gscape-node-border: #000;
  --theme-gscape-label-color:  #000;

  --theme-gscape-role: #AACDE1;
  --theme-gscape-role-dark: #065A85;

  --theme-gscape-attribute: #C7DAAD;
  --theme-gscape-attribute-dark: #4B7900;

  --theme-gscape-concept: #F9F3A6;
  --theme-gscape-concept-dark: #B08D00;

  --theme-gscape-individual: #F9F3A6;
  --theme-gscape-individual-dark: #B08D00;
}

*/

#grapholscape_container {
  --gscape-color-fg-default: #24292f;
  --gscape-color-fg-muted: #57606a;
  --gscape-color-fg-subtle: #6e7781;
  --gscape-color-fg-on-emphasis: #ffffff;

  --gscape-color-bg-default: #ffffff;
  --gscape-color-bg-overlay: #ffffff;
  --gscape-color-bg-inset: #f6f8fa;
  --gscape-color-bg-subtle: #f6f8fa;

  --gscape-color-border-default: #d0d7de;
  --gscape-color-border-muted: #d8dee4;
  --gscape-color-border-subtle: rgba(27, 31, 36, 0.15);

  --gscape-color-neutral-emphasis-plus: #24292f;
  --gscape-color-neutral-emphasis: #6e7781;
  --gscape-color-neutral-muted: rgba(175, 184, 193, 0.2);
  --gscape-color-neutral-subtle: rgba(234, 238, 242, 0.5);

  --gscape-color-accent-fg: #0969da;
  --gscape-color-accent-emphasis: #0969da;
  --gscape-color-accent-muted: rgba(84, 174, 255, 0.4);
  --gscape-color-accent-subtle: #ddf4ff;

  --gscape-color-success-fg: #1a7f37;
  --gscape-color-success-emphasis: #2da44e;
  --gscape-color-success-muted: rgba(74, 194, 107, 0.4);
  --gscape-color-success-subtle: #dafbe1;


  --gscape-color-attention-fg: #9a6700;
  --gscape-color-attention-emphasis: #bf8700;
  --gscape-color-attention-muted: rgba(212, 167, 44, 0.4);
  --gscape-color-attention-subtle: #fff8c5;

  --gscape-color-danger-fg: #cf222e;
  --gscape-color-danger-emphasis: #cf222e;
  --gscape-color-danger-muted: rgba(255, 129, 130, 0.4);
  --gscape-color-danger-subtle: #FFEBE9;

  --gscape-color-class: #F9F3A6;
  --gscape-color-class-contrast: #B08D00;

  --gscape-color-object-property: #AACDE1;
  --gscape-color-object-property-contrast: #065A85;

  --gscape-color-data-property: #C7DAAD;
  --gscape-color-data-property-contrast: #4B7900;

  --gscape-color-individual: #d3b3ef;
  --gscape-color-individual-contrast: #9875b7;

  --gscape-border-radius: 8px;
  --gscape-border-radius-btn: 6px;
  --gscape-font-size: 14px;
  font-size: var(--gscape-font-size);
  color: var(--gscape-color-fg-default);
}

#grapholscape_container {
  height: calc(100% - 75px);
  position: relative;
  display: none;
  top: 75px;
}

body, html {
  font-family : sans-serif;
  color: #555;
  height: 100%;
  margin: 0;
}

#home {
  height: 100%;
  width: 100%;
  padding-top: 75px;

  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: all 0.2s;
  align-items: center;
}

#home > * {
  width: 100%;
}

#gscape-logo {
  width: 15%;
}

#home h2 {
  font-size: 24px !important;
  margin-bottom: 30px;
}

#gscape-panel-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  justify-content: center;
  padding: 0 50px;
}

.gscape-panel {
  text-align:center;
  width: 100%;
  padding: 20px;
}

.gscape-panel li {
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  border: solid 2px #eee;
  margin: 5px 0;
  border-radius: 10px;
}

#gscape-panel-wrapper > hr {
  border: solid 2px #eee;
  margin: 0;
  height: initial;
}

#left-panel li:hover, #dropbox:hover, #url-graphol-form > input:hover {
  background-color: #f0f0f0;
}

#dropbox {
  border: dashed 2px #ddd;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#dropbox p{
  color: #888;
}
#add-button {
  border-radius: 100%;
  color: #fff;
  padding: 10px;
  background-image: #36D1DC;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to top, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, #5B86E5 0%, #36D1DC 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 38px;
  width: 38px;
  line-height: 38px;
  font-size: 24pt;
  transition: all 0.2s;
  box-sizing: content-box;
}

#add-button:hover {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.7);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}


#url-graphol-form, #url-graphol-form > #url-input {
  text-align: center;
}

#url-graphol-form > #url-input {
  width:50%;
}

#url-graphol-form > input {
  border: solid 2px #eee;
  border-radius: 10px;
  font-size: 110%;
  padding:10px;
}

#url-graphol-form > #submit-input {
  cursor: pointer;
}