body, html {
    font-family : "Montserrat", "Open Sans","Helvetica Neue",Helvetica,sans-serif;
    color: #555;
    height: 100%;
    margin:0;
}

#grapholscape_container {
    height: 100%;
    position: relative;
}